.container {
  width: 95%;
  max-width: 1420px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aeeee4;
}

a {
  text-decoration: none;
}
a .list {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 15px;
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
a .list p {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  font-size: 16px;
}
a .list .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
a .list span {
  display: flex;
  cursor: pointer;
}
a .list .line {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: black;
  margin: 0 10px;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #aeeee4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login .container .login_container {
  width: 30%;
  height: 70vh;
  margin: 0 auto;
  background-color: #37e9a1;
  border-radius: 10px;
}
.login .container .login_container .login_top {
  background: transparent;
  height: 50%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login .container .login_container .login_top h2 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
}
.login .container .login_container .login_bottom {
  height: 68%;
  background-color: #FFFFFF;
  border-radius: 100px 0 10px 10px;
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login .container .login_container .login_bottom input {
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid lightgreen;
  outline: none;
}
.login .container .login_container .login_bottom label {
  width: 80%;
  color: #1b1b1b;
  display: inline-block;
  cursor: pointer;
}
.login .container .login_container .login_bottom Button {
  width: 80%;
  background-color: #37e9a1;
}
.login .container .register_btn {
  text-align: center;
  margin-top: 30px;
}
.login .container .register_btn Button {
  background-color: #37e9a1;
  margin: 0 auto;
}

.register {
  width: 100%;
  height: 100vh;
  background-color: #aeeee4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.register .container .register_container {
  width: 30%;
  height: 70vh;
  margin: 0 auto;
  background-color: #37e9a1;
  border-radius: 10px;
}
.register .container .register_container .register_top {
  background: transparent;
  height: 50%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.register .container .register_container .register_top h2 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
}
.register .container .register_container .register_bottom {
  height: 68%;
  background-color: #FFFFFF;
  border-radius: 100px 0 10px 10px;
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register .container .register_container .register_bottom input {
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid lightgreen;
  outline: none;
}
.register .container .register_container .register_bottom label {
  width: 80%;
  color: #1b1b1b;
  display: inline-block;
  cursor: pointer;
}
.register .container .register_container .register_bottom Button {
  width: 80%;
  background-color: #37e9a1;
}
.register .container .register_btn {
  text-align: center;
  margin-top: 30px;
}
.register .container .register_btn Button {
  background-color: #37e9a1;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .container .lists {
  width: 40%;
  margin: 0 auto;
  background-color: #37e9a1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 50px 0 0 30px;
}
.main .container .lists .add_task_btn {
  text-align: end;
}
.main .container .lists .add_task_btn Button {
  min-width: 0;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.75);
  padding: 12px;
  border-radius: 6px 0 0 0;
}

.add_list_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.add_list_page .container .add_list {
  width: 40%;
  background-color: #37e9a1;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add_list_page .container .add_list .add_list_input {
  width: 100%;
  background: #FFFFFF;
  padding: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.add_list_page .container .add_list .add_list_input input {
  border: none;
  outline: none;
  background: transparent;
}
.add_list_page .container .add_list .add_list_input p {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  font-size: 16px;
}
.add_list_page .container .add_list .add_list_input span {
  display: flex;
  cursor: pointer;
}
.add_list_page .container .add_list Button {
  min-width: 0;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 24px;
}/*# sourceMappingURL=App.css.map */